.loader_position{
    position: absolute;
    top: 45%;
    left:45%;
}
.border-div{
    border-radius: 2%;
    border: 1px solid gray;
    width: 35%;
    height: auto;
    position:absolute;
    top:20%;
   left:30%;
   padding-top: 3%;
   padding-left: 5%;
   margin: auto;
}
