.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: black;
    top: 15px;
    font-size: 400%;
    margin-top: 15%;
    position: fixed;
    left:38%;
    top:-5%;

}
button{
    position: fixed;
    left:43%;
    top:40%;
    width: 15%;
    height: 10%;
    
}
