.label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    top: 15px;
    font-size: 15px;
    margin-top: 15%;

}

.mb-3{
    position: absolute;
    left: 30%;
    top: 10%;
    width: 40%;
    height: 60%;
    border: 0.5px solid gray;
    border-radius: 0.5%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
}

@button{
    margin-top: 50%;
    color: green;
}

